# Networking 서비스 변수 값 (Production 예제)
project_name = "<your-project-name>"
aws_region   = "ap-northeast-2"
environment  = "prod"

# 네트워크 설정 (예제 값)
vpc_cidr = "10.2.0.0/16"
availability_zones = ["ap-northeast-2a", "ap-northeast-2c", "ap-northeast-2d"]
public_subnet_cidrs  = ["10.2.1.0/24", "10.2.2.0/24", "10.2.3.0/24"]
private_subnet_cidrs = ["10.2.10.0/24", "10.2.20.0/24", "10.2.30.0/24"]

