bucket         = "my-terraform-state-bucket"
key            = "environments/dev/privatelink-consumer/terraform.tfstate"
region         = "ap-northeast-2"
encrypt        = true
dynamodb_table = "terraform-state-lock"

